<html ng-app="myApp">
<head>
    <title>Bootstrap</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <script src="../js/angular.js"></script>
    <script src="../bootstrap/app.js"></script>
</head>
<body ng-controller="myCtrl">
    <div class="container">
        <h1 class="text-center">Table Siswa</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group" role="group">
                    <button
                    ng-click="changeAction(p)"
                    ng-repeat="p in pagesizes"
                    type="button" class="btn btn-primary btn-sm"
                    >{{p}}</button>
                </div>
            </div>

            <div class="col-md-4 pull-right">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                    </svg></span>
                    <input  ng-model="search" type="text" class="form-control" placeholder="Kata Kunci" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th><a href="" ng-click="boolname = ordering (boolname, 'name')">Nama</a></th>
                    <th><a href="" ng-click="boolclass = ordering (boolclass, 'class')">Kelas</a></th>
                    <th><a href="" ng-click="boolscore = ordering (boolscore, 'score')">Nilai</a></th>
                </tr>

                <tr
                    ng-repeat="s in (results = (students | filter:search | orderBy:ord:ordstatus))"
                    ng-if="$index >= (currentpage*pagesize) && $index < ((currentpage + 1) * pagesize)"
                    >
                    <th>{{s.name}}</th>
                    <th>{{s.class}}</th>
                    <th>{{s.score}}</th>
                </tr>
                <tr ng-if="results.length == 0">
                    <td colspan="3"> Hasil tidak ditemukan</td>
                </tr>
            </table>
        </div>

        <div class="row text-center">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" ng-click="paging(0)">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li
                    ng-repeat="i in getNumber(pagenumber) track by $index"
                    class="page-item"
                    ng-class="currentpage == $index ? 'active' : ''"
                >
                    <a ng-click="getPage($index)"  class="page-link" href="#">{{$index + 1}}</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" ng-click="paging(1)">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <label>Halaman {{currentpage+1}} dari {{pagenumber}} Halaman</label>
        </div>
    </div>
</body>
</html>