<html ng-app="xapp">
    <head>
        <title>
            Belajar Angular Training
        </title>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/app.js"></script>

    </head>
    <body ng-controller="xctrl">
        <h1>Hello World</h1>
        <div>
            <span>{{x}}</span>
            <br>
            <input type="text" ng-model="x">
        </div>
        <h2>{{operation}}</h2>
        <input type="text" ng-model="obj1">
        <input type="text" ng-model="obj2">
        <span>{{result}}</span>
        <br><br>
        <button ng-click="operate(1)">Add</button>
        <button ng-click="operate(2)">Subt</button>
        <button ng-click="operate(3)">Multiply</button>
        <button ng-click="operate(4)">Devide</button>
    </body>
</html>