<!DOCTYPE html>
<html>
    <head>

    </head>
    <body ng-app="FirstApp">
        <div ng-controller="MainController">
            Title : <input type="text" ng-model="title"/>
            {{title}}<br>
            <button ng-click="log()">Log</button>
            <div ng-repeat="book in books">
                {{book.title}}<br>
                {{book.author}}<br>
                {{book.price | currency}} / {{book.price | rupiah}} <br>
                {{book.pubdate | date}}<br>
                {{book.likes}} <button ng-click="likes($index)">Like</button> </br>
                <button ng-click="logToConsole($index)">Log</button>
                <hr>
            </div>
        </div>


        <script src="/js/angular.min.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/controllers/MainController.js"></script>
    </body>
</html>