<!DOCTYPE html>
<html>
    <head>

    </head>
    <body ng-app="FirstApp">
        <!-- // example directive Scope -->
        <!-- <div ng-controller="MainController">
            <b>dunia</b> dari parent scope<br>
            <h2>Hellow {{dunia}}</h2>
            <hr>
            <b>dunia</b> dari directive scope<br>
            <my-directive>
            </my-directive>
            <hr>
        </div> -->
        <!-- One Way Binding -->
        <!-- <div ng-controller="MainController">
            <input type="text" ng-model="title"><br><br>
            <one-way title="static"></one-way>
            <one-way title="{{title}}"></one-way>
        </div> -->
        <div ng-controller="MainController">
            <input type="text" ng-model="title"> <br><br>
            <one-way title="title"></one-way>

        </div>
        <script src="/js/angular.min.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/controllers/MainController.js"></script>
        <script src="/js/directives/MyDirective.js"></script>
    </body>
</html>