<html ng-app="myApp">
<head>
    <title>ngRepeat-lab</title>
    <script src="../js/angular.js"></script>
    <script src="../pagination/app.js"></script>
</head>
<body ng-controller="myCtrl">
    <h1>Table Siswa</h1>
    <p>
        <label>Search</label>
        <input type="search" ng-model="search" placeholder="cari siswa">
    </p>
    <p>
        <select
            ng-change="changeAction()"
            ng-model="pagesize"
            ng-options="opt as opt for opt in pagesizes"
        ></select>
        <label>Halaman {{currentpage+1}} dari {{pagenumber}} Halaman</label>
    </p>
    <p>
        <table border="1">
            <tr>
                <th><a href="" ng-click="boolname = ordering (boolname, 'name')">Nama</a></th>
                <th><a href="" ng-click="boolclass = ordering (boolclass, 'class')">Kelas</a></th>
                <th><a href="" ng-click="boolscore = ordering (boolscore, 'score')">Nilai</a></th>
            </tr>

            <tr
                ng-repeat="s in (results = (students | filter:search | orderBy:ord:ordstatus))"
                ng-if="$index >= (currentpage*pagesize) && $index < ((currentpage + 1) * pagesize)"
                >
                <th>{{s.name}}</th>
                <th>{{s.class}}</th>
                <th>{{s.score}}</th>
            </tr>
            <tr ng-if="results.length == 0">
                <td colspan="3"> Hasil tidak ditemukan</td>
            </tr>
        </table>
    </p>
    <p>
        <button ng-click="currentpage=0">Pertama</button>
        <button ng-click="paging(0)">Sebelumnya</button>
        <button ng-click="paging(1)">Selanjutnya</button>
        <button ng-click="currentpage=pagenumber - 1">Terakhir</button>
    </p>

</body>
</html>